@import './_mixins.scss';

  :root {
    --primary-text-color: #636b76;
    --title-text-color: #64ebac;
    --hover-text-color: #b1b5ba;
    --accent-text-color: #ffffff;
    --date-text: #616969;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
   
  }

  .main-container {
    
    max-width: 1200px;
    display: flex;
   
   
    background: var(--accent-text-color);
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

    @include for-size(max-phone) {
     
      margin: 20px;
      flex-direction: column;
     
    }
    @include for-size(phone) {
      background-color: #64ebac;
    }
    @include for-size(tablet) {
      background-color: brown;
      display: flex;
      
    }
    @include for-size(desktop) {
      background-color: chartreuse;
    }
  
  }

 