$page-max-width: 1600px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$max-tablet: $desktop - 1px;
$max-phone: $tablet - 1px;

@mixin for-size($size) {
    @if $size == phone {
      @media (min-width: $phone) {
        @content;
      }
    } @else if $size == max-phone {
      @media (max-width: $max-phone) {
        @content;
      }
    } @else if $size == tablet {
      @media (min-width: $tablet) {
        @content;
      }
    } @else if $size == max-tablet {
      @media (max-width: $max-tablet) {
        @content;
      }
    } @else if $size == desktop {
      @media (min-width: $desktop) {
        @content;
      }
    }
  }
  
  @mixin to-size($mobile: phone, $max-mobile: max-phone) {
    @include for-size($mobile) {
      @include for-size($max-mobile) {
        @content;
      }
    }
  }
  
 